@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="alert-success">
        <h3 class="display-4">Bem Vindo!</h3>
    </div>
    <p>Obrigado pela oportunidade de participar do processo seletivo!</p>
</div>
